@font-face {
    font-family: 'Clear Sans';
    src: url("ClearSans-Bold.ttf");
}

.pane {
    -fx-background-radius: 5px;
}

AnchorPane {
    -fx-background-color: #fefaf1;
}

GridPane {
    -fx-grid-lines-visible: true;
    -fx-background-radius: 5px;
    /*    -fx-background-color: #bbada0; */
}

Line {
    -fx-stroke: transparent;
    /*-fx-stroke-width: 10;*/
}

.tuile {
    -fx-font-size: 40;
}

Label, Button, CheckBox, .menu-item .label, .menu .label {
    -fx-text-fill: #776E65;
    -fx-font-family: 'Clear Sans';
    -fx-font-size: 15;
}

TableView {
    -fx-focus-color: transparent;
}

.table-view .column-header .label {
    -fx-font-size: 10;
}