@font-face {
    font-family: 'Clear Sans';
    src: url("ClearSans-Bold.ttf");
}

.pane {
    -fx-background-radius: 5px;
}

.fond {
    -fx-background-color: #fefaf1;
}

.gridpane {
    -fx-grid-lines-visible: true;
    -fx-background-radius: 5px;
    -fx-background-color: #b9aba0;
}

.tuile {
    -fx-font-size: 32;
}

Label {
    -fx-text-fill: #776E65;
    -fx-font-family: 'Clear Sans';
    -fx-font-size: 25;
}