@import "stylesBase.css";

AnchorPane, .fd {
    -fx-background-color: #b88772;
}

.label, Button, CheckBox {
    -fx-text-fill: #fa9073;
}

.fond {
    -fx-background-color: #eb9f3d;
}

.fond Pane {
    -fx-background-color: #fcab42;
}

.scores {
    -fx-background-color: #b05c17;
}